# تجاهل فولدر البيانات (أهم سطر)
Dataset/

# تجاهل ملفات الإشارات الكبيرة لو هي بره الفولدر
*.edf
*.xml

# تجاهل ملفات البيئة الافتراضية والكوندا
.conda/
env/
venv/

# تجاهل ملفات النظام والذاكرة المؤقتة
__pycache__/
.ipynb_checkpoints/
.DS_Store
